<div class="page-header">
  <h1><%= t('greeting') %></h1>
  <p><%= t('posts_title') %></p>
</div>

<div class="posts-grid">
  <% @posts.each do |post| %>
    <div class="post-card">
      <h3><%= post.title %></h3>
      <p><%= post.body %></p>
      <%= link_to "Читати повністю", post, class: "btn-secondary" %>
    </div>
  <% end %>
</div>

<%= link_to "+ Створити новий пост", new_post_path, class: "btn-primary" %>