<!DOCTYPE html>
<html>
  <head>
    <title>Мій Блог</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <header class="main-header">
      <div class="header-spacer"></div> 
      
      <div class="logo">
        <%= t('logo') %>
      </div>
      
      <div class="lang-switcher">
        <%= link_to "🇺🇦 Укр", root_path(locale: :uk), class: "lang-btn" %>
        <%= link_to "🇬🇧 Eng", root_path(locale: :en), class: "lang-btn" %>
      </div>
    </header>

    <main class="container">
      <%= yield %>
    </main>
  </body>
</html>